/* comon css */
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
/* comon css */

/* body css */
body{
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
/* body css */

/* continar */
 .continer{
  width: 1170px;
  margin: auto;
}
 nav div .row{
    align-items: center;
}
 nav .row{
    display: flex;
    flex-wrap: wrap;
}

/* continar */

/* nav css */
nav{
    background-color:#02918b ;
    text-align: justify;
}
 nav .logo{
    width: 11%;

}
 nav .menu{ 
    width: 89%;
}
 nav .menu ul{
    justify-content: flex-end;
}
 nav .menu ul li a {
    font-size: 12px;
    font-weight: 800;
    color: #ffffff;
    text-transform: uppercase;
    padding: 26px 25px;
    display: inline-block;
    transition: 1s;
}
nav .menu ul li a:hover{
    color: black;
    background-color: #cfc91d;
}
/* nav css */